@media (max-width: 767px) {
  .container-introduction {
    width: 100%;
    margin-top: 108px;
    margin-bottom: 80px;
    padding-left: 13px;
    padding-right: 12px;
  }
  .container-projects {
    width: 100%;
    margin-bottom: 144px;
    padding-left: 13px;
    padding-right: 12px;
  }
  h1 {
    width: 328px;
    height: 95px;
    font-size: 30px;
    line-height: 32px;
  }
  .interior {
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 25px;
    margin-bottom: 80px;
    background-image: url("../recources/armchair.png");
    background-size: cover;
    background-position: 30%;
  }
  .introduction {
    left: 15px;
    bottom: 15px;
    width: 312px;
    height: 88px;
    font-size: 16px;
    line-height: 22px;
  }
  .about {
    width: 100%;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
  }
  .text-about {
    width: 100%;
    padding-right: 5px;
    font-size: 22px;
    line-height: 30px;
  }

  .button-services {
    display: block;
    box-sizing: border-box;
    border-radius: 5px;
    width: 194px;
    height: 51px;
    padding-top: 14.5px;
    padding-bottom: 14.5px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
  }
  .project {
    width: 100%;
    margin-bottom: 49px;
  }
  .project-name {
    width: 326px;
    height: 25px;
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 25px;
  }
  .image-project {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .about-project {
    font-size: 16px;
    line-height: 25px;
    margin-left: 0;
  }

  .look-projects {
    width: 100%;
    height: 100px;
    margin-top: 60px;
    font-size: 22px;
    line-height: 100px;
  }

  .container-service {
    width: 100%;
    min-width: 350px;
    background-color: #121212;
  }

  .flex-container-service {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* flex-wrap: wrap;*/
    justify-content: center;
    margin: 0 auto;
  }
  .service {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 60px auto;
  }
  .text-service {
    height: 31px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
  }
  .price-service {
    top: 23px;
    left: 24px;
    padding-left: 24px;
    padding-right: 23px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
  }
  .order-service {
    /* position: absolute; */
    display: block;
    margin: 60px auto 80px auto;
    border: 1px solid #ad1818;
    border-radius: 4px;
    width: 90%;
    height: 100px;
    font-size: 22px;
    line-height: 100px;
  }
}
