body {
  font-family: "Manrope", sans-serif;
  width: 1400px;
  margin: 0 auto;
  letter-spacing: -0.03em;
  background-color: #ffffff;
}
.container {
  width: 1150px;
  margin-left: 125px;
  margin-top: 213px;
  margin-bottom: 150px;
}
.container2 {
  width: 1150px;
  height: 2122px;
  margin-left: 121px;
  margin-bottom: 150px;
}
.container3 {
  width: 1400px;
  height: 1844px;
  background-color: #121212;
}
.container4 {
  width: 1400px;
  height: 717px;
  margin-bottom: 150px;
}
h1 {
  width: 1000px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  font-weight: 400;
}
.Interior {
  position: relative;
  width: 1150px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 150px;
  background-image: url("../recources/armchair.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Introduction {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  height: 81px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  color: white;
  letter-spacing: -0.03em;
}
.About {
  width: 1048px;
  height: 518px;
}
h2 {
  width: 71px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
  color: #121212;
  font-weight: 400;
}
.Text_About {
  height: 366px;
  width: 1051px;
  font-size: 45px;
  line-height: 61px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-left: 3px;
  letter-spacing: -0.03em;
}
.Button-services {
  display: block;
  width: 255px;
  height: 67px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 27px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: #ad1818;
  border-radius: 5px;
}
.Button-service:hover {
  color: black;
}
.Project {
  width: 1150px;
  height: 548px;
  margin-bottom: 90px;
}
h3 {
  width: 79px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 30px;
}
.Project-name {
  height: 41px;
  width: 601px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 15px;
  letter-spacing: -0.03em;
}
h4 {
  width: 66px;
  height: 25px;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  padding-top: 151px;
  margin-left: 127px;
  margin-bottom: 34px;
}
.Image-Project {
  width: 1150px;
  height: 450px;
  margin-bottom: 15px;
}
.About-project {
  font-size: 20px;
  line-height: 41px;
  font-weight: 400;
  letter-spacing: -0.03em;
  width: 0;
  height: 0;
  border: 0;
  text-align: left;
  text-decoration: none;
  color: #ad1818;
  background-color: none;
}
.About-project:hover {
  color: #121212;
  background-color: #ffffff;
}
.Look-projects {
  display: block;
  width: 1150px;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  font-size: 30px;
  line-height: 153px;
  color: #ad1818;
  background-color: white;
  text-decoration: none;
}
.Look-projects:hover {
  color: white;
  background-color: #ad1818;
}
.Service {
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-bottom: 60px;
}
.Text_Service {
  height: 41px;
  width: 661px;
  font-size: 30px;
  line-height: 40.98px;
  font-weight: 400;
  margin-top: 15px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
.Image-Service {
  height: 270px;
  width: 1150px;
}
.Forest-landscape {
  position: relative;
  width: 1400px;
  height: 717px;
  background-image: url("../recources/bed.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Text_Forest-landscape {
  position: absolute;
  width: 443px;
  height: 82px;
  left: 125px;
  bottom: 75px;
  font-size: 30px;
  line-height: 41px;
  font-weight: 400;
  color: #ffffff;
}
.phone {
  width: 24px;
  height: 27px;
  background-image: url("../recources/ic_outline-phone-iphone.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 120px;
  margin-bottom: 12px;
}
.Information {
  width: 473px;
  height: 217px;
  margin-left: 124px;
}
.Phone-number {
  width: 472px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #121212;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}
h5 {
  width: 90px;
  height: 25px;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 3px;
}
.Mail {
  width: 412px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  font-weight: 400;
  letter-spacing: -0.03em;
  opacity: 0.5;
  margin-bottom: 10px;
}
.line {
  width: 406px;
  height: 0px;
  opacity: 0.5;
  border: 2px solid #121212;
}
