body {
  font-family: "Manrope", sans-serif;
}

.container {
  width: 1150px;
  margin: 0 auto;

  margin-left: 106px;
  margin-top: 213px;
  margin-bottom: 150px;
}

.container2 {
  width: 1150px;
  height: 2122px;

  margin-left: 121px;
  margin-bottom: 150px;
}

.container3 {
  width: 1400px;
  height: 1844px;
  background-color: #121212;

  margin-bottom: 0px;
}
.container4 {
  width: 1400px;
  height: 717px;
  margin-bottom: 150px;
}

h1 {
  width: 1000px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  font-weight: 400;
}
.Group1 {
  width: 1150px;
  height: 500px;
  margin-top: 30px;
  background-image: url("../recources/Rectangle\ 1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Text_Group1 {
  width: 530px;
  height: 81px;
  padding-left: 40px;
  padding-top: 379px;
  font-size: 20px;
  line-height: 27.32px;
  font-weight: 400;
  color: white;
}

.Group2 {
  width: 1051px;
  height: 518px;
  margin-top: 65px;
  margin-left: 19px;
}
h2 {
  width: 71px;
  height: 25px;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  font-weight: 400;
}
.Text_Group2 {
  height: 366px;
  width: 1051px;
  font-size: 45px;
  line-height: 61.47px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
  letter-spacing: -0.03em;
}

.link-Group2 {
  display: block;
  width: 255px;
  height: 67px;
  border: 1px solid red;
  text-align: center;
  line-height: 67px;
  text-decoration: none;
  color: white;
  background-color: #ad1818;
  margin-top: 30px;
}
a:hover {
  color: black;
}
.Group3 {
  width: 1150px;
  height: 548px;
  margin-bottom: 90px;
}
h3 {
  width: 79px;
  height: 25px;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 30px;
}
.Text_Group3 {
  height: 41px;
  width: 601px;
  font-size: 30px;
  line-height: 40.98px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: -0.03em;
}
h4 {
  width: 66px;
  height: 25px;
  font-size: 18px;
  line-height: 24.59px;
  color: #ffffff;
  font-weight: 400;
  padding-top: 151px;
  margin-left: 127px;
  margin-bottom: 34px;
}
.Image-Group3 {
  width: 1150px;
  height: 450px;
  margin-bottom: 15px;
}
.link-Group3 {
  height: 41px;
  width: 542px;
  font-size: 20px;
  line-height: 40.98px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: -0.03em;
  display: contents;
  width: 0px;
  height: 0px;
  border: 0px;
  text-align: left;
  text-decoration: none;
  color: red;
  background-color: none;
}
.link-Group3:hover {
  color: #121212;
}

.link-Group4 {
  display: block;
  width: 1150px;
  height: 153px;
  border: 1px solid #ad1818;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  font-size: 30px;
  line-height: 153px;
  color: #ad1818;
  background-color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #ad1818;
}
.Group5 {
  width: 1150px;
  height: 326px;
  margin-left: 125px;
  margin-bottom: 60px;
}
.Text_Group5 {
  height: 41px;
  width: 661px;
  font-size: 30px;
  line-height: 40.98px;
  font-weight: 400;
  margin-top: 15px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
.Image-Group5 {
  height: 270px;
  width: 1150px;
}
.Group6 {
  width: 1400px;
  height: 717px;
  background-image: url("../recources/Rectangle\ 9.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.Text_Group6 {
  width: 443px;
  height: 82px;
  padding-left: 125px;
  padding-top: 575px;
  font-size: 30px;
  line-height: 40.98px;
  font-weight: 400;
  color: #ffffff;
}
.phone {
  width: 24px;
  height: 27px;
  background-image: url("../recources/ic_outline-phone-iphone.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 120px;
  margin-bottom: 12px;
}
.Group7 {
  width: 473px;
  height: 217px;
  margin-left: 124px;
}
.Text_Group7 {
  width: 472px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  color: #121212;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}
h5 {
  width: 90px;
  height: 25px;
  font-size: 18px;
  line-height: 24.59px;
  color: #121212;
  font-weight: 400;
  margin-bottom: 3px;
}
.Mail_Group7 {
  width: 412px;
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  font-weight: 400;
  letter-spacing: -0.03em;
  opacity: 0.5;
  margin-bottom: 10px;
}
.line {
  width: 406px;
  height: 0px;
  opacity: 0.5;
  border: 2px solid #121212;
}
