html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  /* width: 1400px; */
  margin: 0 auto;
  letter-spacing: -0.03em;
  background-color: #ffffff;
}
.fullscreen-mode {
  width: 1400px;
  margin: 0 auto;
}
.nav-section {
  width: 1400px;
  margin-top: 33px;
}
.nav-container {
  width: 1160px;
  height: 25px;
  margin-top: 32.82px;
  margin: 0 auto;
}

.logo-link {
  display: inline-block;
  margin-right: 555px;
}
.logo {
  display: block;
  width: 126.89px;
  height: 21.42px;
}

.nav {
  display: inline;
  width: 1152px;
  height: 25px;
  vertical-align: top;
}
.nav-link {
  width: 90px;
  height: 25px;
  margin-right: 60px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}
.nav-link:nth-last-child(1) {
  margin-right: 0px;
}
.nav-link:hover {
  border-bottom: 1px solid rgba(255, 123, 210, 0.5);
}
.container-introduction {
  width: 1150px;
  margin: 70px auto 150px auto;
}
.container-projects {
  width: 1150px;
  margin: 0 auto 150px auto;
}
.container-service {
  width: 100%;
  background-color: #121212;
}
.container-example-project {
  height: 717px;
  margin-bottom: 150px;
}

h1 {
  width: 956px;
  height: 120px;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
}
.interior {
  position: relative;
  width: 1150px;
  height: 500px;
  margin-top: 30px;
  margin-bottom: 150px;
  background-image: url("../resources/armchair.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.introduction {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;
  height: 81px;
  font-size: 20px;
  line-height: 27px;
  color: white;
  letter-spacing: -0.03em;
}
.about {
  width: 1048px;
}
h2 {
  /* width: 71px; */
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  color: #121212;
}
.contacts {
  margin-bottom: 32px;
}
.text-about {
  width: 1051px;
  margin-bottom: 30px;
  margin-left: 3px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
}
.button-services {
  display: block;
  box-sizing: border-box;
  border-radius: 5px;
  width: 255px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 27px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: #ad1818;
}
.button-services:hover {
  color: black;
}
.project {
  width: 1150px;
  margin-bottom: 90px;
}

.project-name {
  width: 601px;
  height: 41px;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
  letter-spacing: -0.03em;
}

.image-project {
  width: 1150px;
  height: 450px;
  margin-bottom: 15px;
}
.about-project {
  font-size: 20px;
  line-height: 41px;
  margin-left: 2px;
  letter-spacing: -0.03em;
  text-align: left;
  text-decoration: none;
  color: #ad1818;
  background-color: none;
}
.about-project:hover {
  color: #121212;
  background-color: #ffffff;
}
.look-projects {
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;
  width: 1150px;
  height: 153px;
  text-align: center;
  font-size: 30px;
  line-height: 153px;
  letter-spacing: -0.03em;
  color: #ad1818;
  background-color: white;
  text-decoration: none;
}
.look-projects:hover {
  color: white;
  background-color: #ad1818;
}

.service-fullscreen {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding-bottom: 150px;
}

h2.services-title {
  margin-left: 2px;
  padding-top: 151px;
  color: #ffffff;
}
.flex-container-service {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 21px;
}
.service {
  position: relative;
  width: calc(50% - 5.5px);
  margin-bottom: 85px;
}
.text-service {
  width: 50%;
  margin-top: 25px;
  margin-left: 3px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
.price-service {
  position: absolute;
  top: 31px;
  left: 30px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 22px;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #ffffff;
  background-color: #ad1818;
}

.image-service {
  width: 100%;
  height: 389px;
}
.order-service {
  display: block;
  border: 1px solid #ad1818;
  border-radius: 5px;
  width: 1150px;
  text-align: center;
  font-size: 30px;
  line-height: 153px;
  letter-spacing: -0.03em;
  color: #ffffff;
  background-color: #ad1818;
  text-decoration: none;
}
.order-service:hover {
  border: 1px solid #ffffff;
}
.container-comments {
  width: 100%;
  min-width: 1150px;
  margin-bottom: 157px;
}
.comments-fullscreen {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
h2.comments-title {
  padding-top: 150px;
}
.flex-container-comments {
  display: flex;
  width: 100%;
  max-width: 1400px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
h3.name-comment {
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #000000;
}
.comment {
  width: calc(50% - 25.5px);
  margin-bottom: 50px;
}
.comment:last-child:nth-child(2n + 1) {
  width: 75%;
  margin-bottom: 0;
}

.text-comment {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
}

.container-gallery {
  width: 100%;
  position: relative;
  /* min-width: 1400px; */
  /* margin: 0 auto; */
}
/* .gallery {
  position: relative;
  width: 100%;
} */
.container-text-gallery {
  position: absolute;
  z-index: 1;
  top: 60px;
  width: 100%;
}

.text-gallery-wrapper {
  position: relative;
  width: 1150px;
  /* margin-left: 100px; */
  margin: 0 auto;
}
.gallery-title {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.gallery-controls {
  display: flex;
  width: 100px;
  max-width: 1400px;
  justify-content: space-between;
  z-index: 10;
  margin-top: 430px;
}
.gallery-text {
  position: absolute;
  bottom: 60px;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
/* .gallery-controls {
   background-color: #ffffff; 
} */
.gallery-control-prev {
  height: 33px;
  width: 19px;
  border: none;
  background: url(/resources/arrow-left.png);
  opacity: 0.5;
  cursor: pointer;
}
.gallery-control-next {
  height: 33px;
  width: 19px;
  border: none;
  background: url(/resources/arrow-right.png);
  opacity: 0.5;
  cursor: pointer;
}
.gallery-control-prev:hover {
  opacity: 1;
}

.gallery-control-next:hover {
  opacity: 1;
}
.gallery-slides {
  position: relative;
  width: 100%;
}

.gallery-slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
}
.gallery-slide.gallery-slide-active {
  opacity: 1;
}

.image-gallery {
  width: 100%;
  height: 717px;
  object-fit: cover;
}
.forest-landscape {
  min-width: 1400px;
  height: 717px;
  background-image: url("../resources/bed.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.container-text-forest-landscape {
  width: 1400px;
  margin: 0 auto;
}
.text-forest-landscape {
  padding-top: 575px;
  margin-left: 125px;
  width: 443px;
  height: 82px;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
.container-contacts-fullscreen {
  width: 1400px;
  margin: 0 auto;
}
.container-contacts {
  position: relative;
  width: 473px;
  height: 217px;
  margin-top: 186px;
  margin-bottom: 150px;
  margin-left: 124px;
}
.container-contacts:before {
  position: absolute;
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  top: -35px;
  left: -4px;
  background-image: url("../resources/ic_outline-phone-iphone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.phone-number {
  width: 472px;
  height: 60px;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
}
.phone-link {
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  color: #121212;
  letter-spacing: -0.03em;
}
.mail {
  width: 412px;
  height: 60px;
  margin-bottom: 10px;
}
.mail-link {
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  color: #121212;
  letter-spacing: -0.03em;
  opacity: 0.5;
}
.line {
  width: 406px;
  height: 0px;
  margin-top: 10px;
  opacity: 0.5;
  border: 1px solid #121212;
}
.footer-container {
  width: 100%;
  min-width: 1400px;
  height: 229px;
  margin: 0 auto;
  background-color: #121212;
}
.footer-menu {
  width: 465px;
  height: 25px;
  margin: 0 auto;
  padding-top: 60px;
}
.footer-link {
  display: inline-block;
  margin-right: 55px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-menu a:nth-last-child(1) {
  margin-right: 0;
}
.footer-link:hover {
  opacity: 0.5;
}
.footer-metrika {
  width: 389px;
  height: 27px;
  margin: 109px auto;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #ffffff;
  opacity: 0.5;
}
