@media (max-width: 1180px) {
  .container-introduction {
    width: 100%;
    margin-top: 128px;
    margin-bottom: 120px;
    padding-left: 17px;
    padding-right: 15px;
  }

  h1 {
    width: 802px;
    font-size: 50px;
  }
  .interior {
    width: 100%;
    height: 400px;
    margin-bottom: 120px;
    background-size: cover;
  }
  .introduction {
    left: 40px;
    bottom: 30px;
    width: 430px;
  }
  .about {
    width: 100%;
  }
  .text-about {
    width: 690px;
    margin-left: 0px;
    font-size: 35px;
    line-height: 48px;
  }

  .container-projects {
    width: 100%;
    margin-bottom: 103px;
    padding-left: 15px;
    padding-right: 17px;
  }
  .project {
    width: 100%;
    margin-bottom: 80px;
  }
  .project-name {
    width: 452px;
    height: 34px;
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }
  .image-project {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .about-project {
    font-size: 20px;
    line-height: 41px;
    margin-left: 2px;
  }

  .look-projects {
    width: 100%;
    margin-top: 102px;
  }

  .container-service {
    min-width: 768px;
  }
  .service-fullscreen {
    padding-left: 27px;
    padding-right: 23px;
    padding-bottom: 120px;
  }
  h2.services-title {
    margin-left: 4px;
  }
  .flex-container-service {
    margin: 0 auto 20px auto;
  }
  .service {
    width: calc(50% - 5px);
    margin-bottom: 60px;
  }
  .text-service {
    width: 100%;
    margin-top: 15px;
    font-size: 25px;
    line-height: 34px;
  }
  .price-service {
    top: 31px;
    left: 32px;
    padding-left: 27px;
    padding-right: 27px;
    line-height: 40px;
    font-size: 20px;
  }

  .image-service {
    height: 315px;
  }
  .order-service {
    margin: 0 auto;
    width: 100%;
    font-size: 30px;
    line-height: 153px;
  }
  .container-comments {
    min-width: 768px;
    margin-bottom: 120px;
  }
  .comments-fullscreen {
    padding-left: 16px;
    padding-right: 15px;
  }
  h2.comments-title {
    padding-top: 117px;
  }
  h3.name-comment {
    margin-bottom: 25px;
    font-size: 35px;
    line-height: 40px;
  }
  .comment {
    width: calc(50% - 5px);
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 80px;
  }
  .text-comment {
    font-size: 20px;
    line-height: 37px;
  }
  .container-gallery {
    height: 536px;
    margin-bottom: 120px;
  }
  .container-text-gallery {
    top: 80px;
  }
  .text-gallery-wrapper {
    padding-left: 50px;
    width: 100%;
  }
  .gallery-title {
    font-size: 20px;
    line-height: 27px;
  }
  .gallery-controls {
    width: 75px;
    margin-top: 240px;
  }
  .gallery-text {
    bottom: 80px;
    width: 377px;
    height: 68px;
    font-size: 25px;
    line-height: 34px;
  }
  .image-gallery {
    width: 100%;
    height: 536px;
    object-fit: cover;
  }
  .container-contacts-fullscreen {
    width: 100%;
    padding-left: 15px;
  }
  .container-contacts {
    column-gap: 115px;
    margin-bottom: 80px;
  }
  .phone-number {
    padding-top: 10px;
    width: 354px;
    height: 60px;
  }
  .phone-link {
    font-size: 45px;
    line-height: 60px;
  }
  .mail {
    width: 309px;
    height: 60px;
  }
  .mail-link {
    font-size: 45px;
    line-height: 60px;
  }
  .line {
    width: 309px;
  }
}
